
.login-icon{
  max-width: 50px;
  height: auto;
  position: relative;
  right: -40%;
  margin-bottom: 10px;
}

a{
  outline: 0 !important;
}

.red{
  background-color: red;
  height: 400px;
}

.navContainer{
  margin-top: 2%;
  /* margin-left: 2%; */
  font-size: 120%;
}

.navContainer .nav-link{
  margin-right: 25px;
}

.mainBodyRow{
  margin-top: 2%;
}


.imagesWrapper{
  padding: 5px 30px;
  height: auto;
}

.houseImage{
  max-width: 100%;
  margin-top: 10%;
  cursor: pointer;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.regularImg{
  max-width: 100%;
  height: auto;
}


.imageContainer{
  position: relative;
  height: auto;
}



.hidden{
  display: none;
}


.lightText, .doorText{
  text-align: center;
  font-weight: bold;
  font-size: 130%;
  color: #343a40;
}

.bulbIcon{
  height: 100%;
  width: 100%;
  background-size: 200% 100%;
  cursor: pointer;
}

.doorIcon{
  width: 205px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -10px;
  top: 65px;
}


.bulbIcon.off{
  /* background-image: url(images/light-on_off.svg); */
  background-image: url(images/bulb-on-off.jpg);
  background-position: 0 0;
}

.bulbIcon.on{
  /* background-image: url(images/light-on_off.svg); */
  background-image: url(images/bulb-on-off.jpg);
  /* background-position: 102% 0; */
  background-position: 100% 0;
}

.doorIcon.off{
  background-image: url(images/closed-door.png);
}

.doorIcon.on{
  background-image: url(images/open-door.png);
}

.bulbContainer, .doorContainer{
  height: 250px;
  width: 150px;
}


#reloadImg{
  position: absolute;
  right: -88px;
  background-color: #253a4e;
  color: #ece9e9;
  padding: 15px;
  cursor: pointer;
}




.divFade{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  max-height: 100%;
}

.divFade > span {
  font-size: 250%;
  font-weight: bold;
}

.imageContainer:hover .houseImage{
  opacity: 0.3;
}
.imageContainer:hover .divFade{
  opacity: 1;
}

@media only screen and (min-width:1260px){
    .nav-camera{
      position: absolute;
      right: 0px;
    }
}

.doubleItemsContainer{
  margin-top: 20px;
}

/* @media only screen and (max-width:720px){
    .bulbIcon, .doorIcon{
      max-width: 80%;
    }
} */
